<div class="categories container dots">
  <div class="flex flex__spaced">
    <div class="categories__header">
      <div class="categories__title font__mono">Wybierz kategorię</div>
      <p class="categories__p">
        Frontboard dostarczy Ci treści związanych z front-endem, a więc poczytasz tutaj
        o JavaScript, HTML i CSS. Przejdź do wybranej kategorii, klikając w blok.
      </p>
    </div>

    <ul class="categories__list flex flex__spaced">
      <li class="categories__item">
        <a href="/kategorie#javascript" class="categories__link">JavaScript</a>
      </li>
      <li class="categories__item">
        <a href="/kategorie#html" class="categories__link">HTML</a>
      </li>
      <li class="categories__item">
        <a href="/kategorie#css" class="categories__link">CSS</a>
      </li>
    </ul>
  </div>
</div>