<div class="featured container flex">
  <img src="/assets/vue-autoryzacja.jpg" alt="POST TITLE" class="featured__image">
  
  <div class="featured__info">
    <ul class="featured__details flex font__mono">
      <li class="featured__detail">
        <a href="#" class="featured__category">JavaScript</a>
      </li>
      <li class="featured__detail">Opublikowany 3 marca 2021</li>
      <li class="featured__detail">Nowość!</li>
    </ul>

    <div class="featured__content">
      <h2 class="featured__title categories__title font__mono">System autoryzacji użytkowników w Vue.js i Firebase w 15 minut</h2>
      <p class="featured__p categories__p">
        Dzięki Firebase jesteś w stanie stworzyć system rejestracji, logowania, przypominania
        hasła w 15 minut. Cały proces dokładnie opisuję w tym wpisie, korzystając z biblioteki Vue.
        Ogólnie znana teza głosi, iż użytkownika może rozpraszać zrozumiała zawartość strony, kiedy
        ten chce zobaczyć sam jej wygląd. Jedną z mocnych stron używania Lorem Ipsum jest to, że ma
        wiele różnych „kombinacji” zdań, słów i akapitów, w przeciwieństwie do zwykłego.
      </p>
      <a href="#" class="font__mono">Czytaj więcej →</a>
    </div>
  </div>
</div>