<footer class="footer container">
  <div class="footer__socials">
    <a href="/">
      <img src="/assets/logo.svg" class="footer__logo" alt="Logo Frontboard">
    </a>

    {%- include social.html -%}
  </div>

  <ul class="footer__list">
    <li class="footer__item">
      <a href="/o-mnie" class="footer__link">O mnie</a>
    </li>
    <li class="footer__item">
      <a href="/newsletter" class="footer__link">Dołącz do newslettera</a>
    </li>
    <li class="footer__item">
      <a href="https://www.facebook.com/groups/jspolska" class="footer__link">Grupa JavaScript Polska</a>
    </li>
    <li class="footer__item">
      <a href="/polityka-prywatnosci" class="footer__link">Polityka prywatności</a>
    </li>
  </ul>

  <p class="footer__p"><a href="#" class="footer__link" role="button">wróć na górę strony <span aria-hidden="true">☝</span></a></p>
</footer>

<script src="/assets/app.js"></script>
<script src="{{ '/assets/prism.js' | relative_url }}"></script>