<footer class="footer container">
  <div class="footer__socials">
    <a href="/">
      <img src="/assets/logo.svg" class="footer__logo">
    </a>

    {%- include social.html -%}
  </div>

  <ul class="footer__list">
    <li class="footer__item">
      <a href="/o-mnie" class="footer__link">O mnie</a>
    </li>
    <li class="footer__item">
      <a href="https://www.facebook.com/groups/jspolska" class="footer__link">Grupa JavaScript Polska</a>
    </li>
    <li class="footer__item">
      <a href="/kategorie#javascript" class="footer__link" title="Posty z kategorii JavaScript">JavaScript</a>
    </li>
    <li class="footer__item">
      <a href="/kategorie#vue" class="footer__link" title="Posty z kategorii Vue.js">Vue.js</a>
    </li>
    <li class="footer__item">
      <a href="/kategorie#inne" class="footer__link" title="Posty z kategorii Po godzinach">Po godzinach</a>
    </li>
  </ul>

  <p class="footer__p">wróć na<a href="#" class="footer__link">górę strony ☝</a></p>
</footer>

<script id="dsq-count-scr" src="//jsw60dni.disqus.com/count.js" async></script>
<script src="/assets/app.js"></script>
<script src="{{ '/assets/prism.js' | relative_url }}"></script>