<footer class="footer">
  <div class="container">
    {%- include social.html -%}

    <ul class="footer__list flex">
      <li class="footer__item"><a href="/" class="footer__link">Strona główna</a></li>
      <li class="footer__item"><a href="/o-mnie" class="footer__link">O mnie</a></li>
      <li class="footer__item"><a href="/kategorie#javascript" class="footer__link">JavaScript</a></li>
      <li class="footer__item"><a href="/kategorie#vuejs" class="footer__link">Vue.js</a></li>
    </ul>
  </div>
</footer>

<script id="dsq-count-scr" src="//jsw60dni.disqus.com/count.js" async></script>
<script src="/assets/app.js"></script>
<script src="{{ '/assets/prism.js' | relative_url }}"></script>