<header class="header font__primary">
  <h1 class="header__heading animate__animated animate__slideInLeft">
    I'm Kacper, front-end developer with passion. Specialized on coding awesome web applications.
  </h1>

  <p class="header__content animate__animated animate__fadeInDown">
    I am specialized in designing meaningful and intuitives interfaces for mobile and web devices,<br />
    I previously worked for severals startup and I am now looking for my next adventure.
  </p>

  <Job />
</header>