{%- assign default_paths = site.pages | map: "path" -%}
{%- assign page_paths = site.header_pages | default: default_paths | reverse -%}

<header class="header" role="banner">
  <div class="container fs-on-laptop">
    <div class="flex mobile__flexwrap">
      <div class="flex flex__spaced mobile__fullwidth">
        <h1 class="header__title">
          <a class="header__link" href="{{ '/' | relative_url }}">
            <img src="/assets/logo.svg" class="header__logo" alt="Logo Frontboard">
          </a>
        </h1>
        
        <div class="mobile__visible">
          <input type="checkbox" id="nav-toggler" style="display: none;">
          <label class="header__toggler flex" for="nav-toggler" style="display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer;">
            <svg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'><title>Menu</title><path fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10' stroke-width='32' d='M80 160h352M80 256h352M80 352h352'/></svg>
          </label>
        </div>
      </div>

      <ul class="nav nav__flex trigger" role="navigation">
        {%- for path in page_paths -%}
        {%- assign page_from_loop = site.pages | where: "path", path | first -%}
        {%- if page_from_loop.title and page_from_loop.hidden != true -%}
        <li class="nav__item">
          <a href="{{ page_from_loop.url | relative_url }}" class="nav__link">{{ page_from_loop.title | escape }}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="header__flex trigger">
      <ul class="nav nav__flex" role="navigation">
        <li class="nav__item">
          {%- if page.layout == 'post' -%}
          <a href="#newsletter" class="nav__link nav__link-featured">Newsletter <span>🚀</span></a>
          {%- else -%}
          <a href="/newsletter" class="nav__link nav__link-featured">Newsletter <span>🚀</span></a>
          {%- endif -%}
        </li>
      </ul>
      <div class="header__socials">{%- include social.html -%}</div>
    </div>
  </div>
</header>