<div class="newsletter">
  <img src="/assets/img/newsletter-icon.svg" alt="" class="newsletter__icon">

  <div class="newsletter__form">
    <p class="newsletter__p">
      Dlaczego warto dołączyć do newslettera? Gwarantuję <b>ciekawe materiały za darmo</b> i <b>zero spamu</b>.
      W każdej chwili <b>możesz się wypisać</b> (choć będzie mi miło, jeśli zostaniesz na dłużej).
    </p>

    <div class="newsletter__fields">
      <div class="newsletter__group">
        <input type="text" id="firstname" class="newsletter__input">
        <label for="firstname" class="newsletter__label">Imię</label>
      </div>

      <div class="newsletter__group">
        <input type="email" id="email" class="newsletter__input">
        <label for="email" class="newsletter__label">E-mail</label>
      </div>
    </div>

    <div class="flex flex__center">
      <input type="checkbox" id="privacy" class="newsletter__checkbox">
      <label for="privacy" class="newsletter__label">Akceptuję <a href="#">politykę prywatności</a> <span title="Pole wymagane">*</span></label>
    </div>

    <button class="newsletter__button" id="newsletter-submit">Zapisuję się!</button>
  </div>
</div>