<form class="newsletter" id="newsletter" action="https://app.convertkit.com/forms/2175263/subscriptions" method="POST">
  <img src="/assets/img/newsletter-icon.svg" alt="" class="newsletter__icon">

  <div class="newsletter__form">
    <p class="newsletter__p">
      Dlaczego warto dołączyć do newslettera? Gwarantuję <b>ciekawe materiały za darmo</b> i <b>zero spamu</b>.
      W każdej chwili <b>możesz się wypisać</b> (choć będzie mi miło, jeśli zostaniesz na dłużej).
    </p>

    <div class="newsletter__fields">
      <div class="newsletter__group">
        <input type="text" class="newsletter__input" name="fields[first_name]" id="first_name">
        <label for="fields[first_name]" class="newsletter__label">Imię</label>
      </div>

      <div class="newsletter__group">
        <input type="email" class="newsletter__input" id="email_address" name="email_address">
        <label for="email_address" class="newsletter__label">E-mail</label>
      </div>
    </div>

    <div class="flex flex__center">
      <input type="checkbox" id="privacy" class="newsletter__checkbox">
      <label for="privacy" class="newsletter__label">
        Akceptuję <a href="/polityka-prywatnosci" target="_blank">politykę prywatności</a>
        <span title="Pole wymagane">*</span>
      </label>
    </div>
    
    <div class="newsletter__error">Zaakceptuj politykę prywatności, aby przejść dalej.</div>

    <!-- Mailchimp required fields -->
    <input type="hidden" name="u" value="fbe5fcc41d8bbcfa8e2e2cd77">
    <input type="hidden" name="id" value="552a514824">

    <button class="newsletter__button" id="newsletter-submit" type="submit">Zapisuję się!</button>
  </div>
</form>