$color-brand: #264DE4;
$color-text: #27292f;
$color-disabled: #6e6f71;
$font-secondary: 'Rubik', sans-serif;

body {
  color: $color-text;
  overflow-x: hidden;
}

a {
  color: $color-brand;
}

// Helpers
.flex {
  display: flex;

  &__spaced {
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    align-items: center;
  }
}
.separator {
  opacity: 0.3;
  padding: 0 5px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

// Mobiles only
@include media-query($on-laptop) {
  .mobile {
    &__visible {
      display: none;
    }
  }
  // Flex `space-between` on laptop viewport (needed by inc/header)
  .fs-on-laptop {
    display: flex;
    justify-content: space-between;
  }
}

// Header
@media (max-width: $on-laptop) {
  .mobile {
    &__flexwrap {
      flex-wrap: wrap;
    }
    &__fullwidth {
      width: 100%;
    }
  }
  .trigger {
    display: none;

    &__open {
      display: block !important;
    }
    &:first-of-type {
      margin: 20px 0 10px 0;
    }
  }
  .header__socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  padding: 30px 0;
  background: #fff;
  transition: 0.3s all;

  &__isSticky {
    box-shadow: 0 3px 3px -3px rgba(#000, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__title {
    margin-right: 40px;
  }
  &__logo {
    max-width: 120px;
    padding: 5px;
    box-sizing: content-box;
  }
  &__opened {
    box-shadow: 0 30px 50px #fff;
    z-index: 10;
  }
  @include media-query($on-laptop) {
    &__logo {
      max-width: 160px;
    }
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__toggler { display: none; }
    &__socials {
      margin: 0 0 0 10px;
    }
  }
}
.nav {
  margin: 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &__link {
    padding: 10px 0;
    color: $color-text;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $color-brand;
    }
    &-featured {
      background: rgba($color-brand, 0.08);
      color: $color-brand;
      border-radius: 50px;
      text-align: center;
    }
  }
  @include media-query($on-laptop) {
    .trigger {
      display: block;
    }
    &__flex {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__link {
      padding: 10px;

      &-featured {
        padding: 10px 23px;
      }
    }
  }
}

// Home
.home {
  margin-top: 50px;
}

// Article
.article {
  &__content {
    line-height: 1.5;
    color: $color-text;

    @include content-formatting;
  }
  &__sidebar {
    margin: 30px 0;
  }
  &__header {
    margin: 50px 0 40px 0;
  }
  &__title {
    font-weight: 500;
    margin: 15px 0 25px 0;
    font-size: 2.5em;
    font-family: $font-secondary;
  }
  &__authorImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
  }
  &__authorLink {
    color: $color-disabled;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-text;
    }
  }
  &__meta {
    color: $color-disabled;
  }
  @include media-query($on-laptop) {
    width: 75%;

    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__sidebar {
      width: 23%;
      margin-top: 190px;
    }
  }
}

// Footer
.footer {
  background: #f8f8fc;
  margin-top: 50px;
  padding: 40px 0;

  &__list {
    margin-top: 15px;
  }
}

// Page
.page {
  &__header {
    text-align: center;
    margin: 50px 0 30px 0;
  }
  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 2.5em;
    font-family: $font-secondary;
  }
}

// Sidebar
.sidebar {
  width: 100%;
  position: sticky;
  top: 130px;
  left: 0;
  opacity: 0.5;
  transition: 0.3s all;

  &:hover {
    opacity: 1;
  }
}

// Share
.share {
  padding: 10px;

  &__text {
    color: $color-text;
  }
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;

    &:hover {
      transform: scale(1.25);
    }
  }
  &__icon {
    width: 24px;
    height: 24px;

    &-facebook { fill: #1877f2; }
    &-twitter { fill: #08a0e9 };
    &-linkedin { fill: #0077b5; }
  }
}

// Post (in home layout)
.home__posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 48px;
  grid-auto-flow: dense;
  margin-bottom: 30px;
}
.post {
  &__link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $color-brand;
      text-decoration: underline;
    }
  }
  &__title {
    margin: 10px 0 15px 0;
    font-family: $font-secondary;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.25;
  }
  &__meta {
    color: $color-disabled;
  }
  &__p {
    line-height: 1.5;
  }
}

// Pagination
.pagination {
  text-align: center;
  margin-bottom: 10px;

  &__page {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;

    &-link {
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}

// Socials
.social {
  &__item {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-text;
    color: $color-text;
    transition: 0.4s all;
  }
  &__link {
    color: $color-text;
    text-decoration: none;

    &:hover {
      svg {
        transform: scale(1.25);
        fill: $color-brand;
      }
    }
  }
}