// Variables
$color-brand: #264DE4;
$color-text: #27292f;
$color-disabled: #6e6f71;

body {
  color: $color-text;
  overflow-x: hidden;
}

// Helpers
.flex {
  display: flex;

  &__spaced {
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    align-items: center;
  }
}

@include media-query($on-laptop) {
  .fs-on-laptop {
    display: flex;
    justify-content: space-between;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.font {
  &__mono {
    font-family: $secondary-font-family;
  }
}

.dots {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50px;
    left: -40px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.09' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    display: block;
    width: 300px;
    height: 120px;
    z-index: -1;
  }
}

// Mobiles only
@include media-query($on-laptop) {
  .mobile {
    &__visible {
      display: none;
    }
  }
}


// Buttons
.button {
  font-family: 'Rubik';
  font-size: 14px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  font-weight: 400;
  border: 0;
}

// Header
@media (max-width: $on-laptop) {
  .mobile {
    &__flexwrap {
      flex-wrap: wrap;
    }
    &__fullwidth {
      width: 100%;
    }
  }
  .trigger {
    display: none;

    &__open {
      display: block !important;
    }
    &:first-of-type {
      margin: 20px 0 10px 0;
    }
  }
  .header__socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  padding: 30px 0;
  background: #fff;
  transition: 0.3s all;

  &__isSticky {
    box-shadow: 0 3px 3px -3px rgba(#000, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &__title {
    margin-right: 40px;
  }
  &__logo {
    max-width: 120px;
    padding: 5px;
    box-sizing: content-box;
  }
  @include media-query($on-laptop) {
    &__logo {
      max-width: 160px;
    }
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__toggler { display: none; }
    &__socials {
      margin: 0 0 0 10px;
    }
  }
  &__opened {
    box-shadow: 0 30px 50px #fff;
    z-index: 1111;
    // fix z-index
  }
}
.nav {
  margin: 0;

  &__item {
    // przeniesc margin-right na mediaquery laptopa
    &:not(:last-child) {
      margin-bottom: 3px;
    }
    // border-bottom: 1px solid grey;
  }
  &__link {
    padding: 10px 0;
    color: $color-text;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $color-brand;
    }
    &-featured {
      background: rgba($color-brand, 0.08);
      color: $color-brand;
      border-radius: 50px;
      // padding: 10px;
      text-align: center;
    }
  }
  @include media-query($on-laptop) {
    .trigger {
      display: block;
    }
    &__flex {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__link {
      padding: 10px;

      &-featured {
        padding: 10px 23px;
      }
    }
  }
}

// Home
.home {
  margin-top: 50px;
}

// Post (in home view)
.home__posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 32px;
  grid-auto-flow: dense;
  margin-bottom: 30px;
}
.post {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 140px;
    left: -30px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.05' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
    display: block;
    width: 300px;
    height: 120px;
    z-index: -1;
  }
  &__imageContainer {
    width: 80%;
    overflow: hidden;
  }
  &__image {
    transition: transform 1s ease;
    width: 100%;

    &:hover {
      transform: scale(1.2);
    }
  }
  &__details {
    background: #fff;
    margin-top: -80px;
    margin-left: 30px;
    padding: 20px;
    position: relative;
    z-index: 1;
  }
  &__title {
    margin: 10px 0 15px 0;
  }
}

// Article
.article {
  @include media-query($on-laptop) {
    width: 75%;

    &__container {
      display: flex;
      justify-content: space-between;
    }
    &__sidebar {
      width: 23%;
      margin-top: 190px;
    }
  }
  &__content {
    line-height: 1.5;
    color: $color-text;

    p {
      margin: 15px 0;
    }
    figure {
      margin: 30px 0;
    }
    figcaption {
      text-align: center;
      color: $color-disabled;
      margin-top: 10px;
    }
    h1, h2, h3, h4, h5, h6 {
      margin-top: 20px;
    }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.4em; }
    h4 { font-size: 1.2em; }
    pre {
      font-size: 15px;
      padding: 8px 12px;
      overflow-x: auto;
      margin-top: 10px;
    }
    pre, code {
      font-family: monospace;
    }
    a {
      color: inherit;

      &:hover {
        text-decoration: none;
        color: $color-brand;
      }
    }
    ol, ul {
      list-style: inside;
      list-style-type: revert;
      margin-left: 10px;
    }
    strong { font-weight: 500; }
    em { font-style: italic; }
    img { max-width: 100%; }
    .full-width {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
    // tu figcaption
    table, td, th {
      border: 1px solid black;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      border: none;
    }
    th, td {
      padding: 7px;
      text-align: left;
      border: 0;
      // border-bottom: 1px solid #ddd;
    }
    tr {
      &:hover {
        background-color: #f7f7f7;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }
    th {
      font-weight: 500;
    }
  }
  &__sidebar {
    margin: 30px 0;
  }
  &__header {
    margin: 50px 0 40px 0;
  }
  &__title {
    font-weight: 500;
    margin: 15px 0 25px 0;
    font-size: 2.5em;
    font-family: 'Rubik';
  }
  &__authorImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
  }
  &__authorLink {
    color: $color-disabled;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: $color-text;
    }
  }
  &__meta {
    color: $color-disabled;
  }
}

// Footer
.footer {
  background: #f8f8fc;
  margin-top: 50px;
  padding: 40px 0;

  &__item {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-text;
    color: $color-text;
  }
  &__p {
    margin: 30px 0 15px 0;
    font-size: 14px;
    width: 40%;
    line-height: 1.3;
    color: $color-disabled;
  }
  &__link {
    color: $color-text;
    text-decoration: none;

    &:hover {
      color: $color-brand;
      text-decoration: underline;
    }
  }
  &__list {
    margin-top: 15px;
  }
}

// Page
.page {
  &__header {
    text-align: center;
    margin: 50px 0 30px 0;
  }
  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 2.5em;
    font-family: 'Rubik';
  }
}

// Sidebar
.sidebar {
  width: 100%;
  position: sticky;
  top: 130px;
  left: 0;
  opacity: 0.5;
  transition: 0.3s all;

  &:hover {
    opacity: 1;
  }
}

// Share
.share {
  padding: 10px;
  border-radius: 15px;

  &__text {
    color: $color-text;
  }
  &__item {
    border-radius: 3px;
  }
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transition: 0.4s all;

    &:hover {
      transform: scale(1.25);
    }
  }
  &__icon {
    width: 24px;
    height: 24px;

    &-facebook { fill: #1877f2; }
    &-twitter { fill: #08a0e9 };
    &-linkedin { fill: #0077b5; }
  }
}