$color-brand: #264DE4;
$color-text: #27292f;
$color-disabled: #6e6f71;
$font-secondary: 'Rubik', sans-serif;

body {
  color: $color-text;
  overflow-x: hidden;
  padding-top: 80px;
}

a {
  color: $color-brand;
}

::selection {
  background: rgba($color-brand, 0.8);
  color: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;

  @include media-query($on-laptop) {
    &__large {
      width: 95%;
    }
  }
}

// Helpers
.flex {
  display: flex;

  &__spaced {
    justify-content: space-between;
    align-items: center;
  }
  &__center {
    align-items: center;
  }
}

// Mobiles only
@include media-query($on-laptop) {
  .mobile {
    &__visible {
      display: none;
    }
  }
  // Flex `space-between` on laptop viewport (needed by inc/header)
  .fs-on-laptop {
    display: flex;
    justify-content: space-between;
  }
}

// Header
@media (max-width: $on-laptop) {
  .mobile {
    &__flexwrap {
      flex-wrap: wrap;
    }
    &__fullwidth {
      width: 100%;
    }
  }
  .trigger {
    display: none;

    &__open {
      display: block !important;
    }
    &:first-of-type {
      margin: 20px 0 10px 0;
    }
  }
  .header__socials {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.header {
  padding: 40px 0;
  background: #fff;
  transition: 0.3s all;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  transition: transform 1s;
  margin-bottom: 50px;
  z-index: 2;

  &__scroll {
    &-down {
      transform: translate3d(0, -100%, 0);
    }
    &-up {
      transform: none;
      box-shadow: 0 3px 3px -3px rgba(#000, 0.1);
      background: #FFF;
    }
  }
  &__title {
    margin-right: 40px;
  }
  &__logo {
    max-width: 120px;
    padding: 5px;
    box-sizing: content-box;
  }
  &__opened {
    box-shadow: 0 30px 50px #fff;
    z-index: 10;
  }
  @include media-query($on-laptop) {
    &__logo {
      max-width: 160px;
    }
    &__flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__toggler { display: none; }
    &__socials {
      margin: 0 0 0 10px;
    }
  }
}
.nav {
  margin: 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
  &__link {
    padding: 10px 0;
    color: $color-text;
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: underline;
      color: $color-brand;
    }
    &-featured {
      background: $color-brand;
      color: #fff;
      border-radius: 50px;
      font-family: $font-secondary;
      transition: 0.3s all;
      border: 1px solid $color-brand;
      text-align: center;

      span {
        margin-left: 3px;
      }
      &:hover {
        text-decoration: none;
        color: $color-brand;
        background-color: transparent;
      }
      @include media-query($on-laptop) {
        margin-right: 10px;
      }
    }
  }
  @include media-query($on-laptop) {
    .trigger {
      display: block;
    }
    &__flex {
      display: flex;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
    &__link {
      padding: 10px;

      &-featured {
        padding: 10px 23px;
      }
    }
  }
}

// Home
.home {
  margin-top: 55px;
}

// Article
.article {
  &__content {
    line-height: 1.6;
    color: $color-text;
    margin-bottom: 60px;
    @include media-query($on-laptop) {
      padding: 20px;
    }

    @include content-formatting;
  }
  &__container {
    @include media-query($on-laptop) {
      width: 70%;

      > .article__content {
        p:first-child {
          font-size: 1.2em;
          margin-bottom: 40px;
        }
      }
    }
  }
  &__category {
    padding: 3px;
    text-transform: uppercase;
    font-family: $font-secondary;
    text-decoration: none;
  }
  &__imageContainer {
    @include media-query($on-laptop) {
      width: 80%;
    }
    margin: 0 auto;
  }
  &__image {
    width: 100%;
    height: auto;
    @include media-query($on-laptop) {
      margin: 20px;
    }
  }
  &__header {
    margin: 50px 0 30px 0;
    @include media-query($on-laptop) {
      margin: 100px 0 20px 0;
    }
    text-align: center;
  }
  &__title {
    font-weight: 500;
    margin: 20px 0 25px 0;
    font-size: 2em;
    font-family: $font-secondary;

    @include media-query($on-laptop) {
      font-size: 2.5em;
    }
  }
  &__authorImage {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
  }
  &__authorLink {
    color: $color-disabled;
    text-decoration: none;
    display: inline-flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
      color: $color-text;
    }
  }
  &__meta {
    color: $color-disabled;
  }
  @include media-query($on-laptop) {
    width: 75%;
    margin: 0 auto;
  }
  &__comments {
    background: #f7f7f7;
    padding: 30px;
  }
}

// Footer
.footer {
  margin-top: 50px;
  padding: 40px 0;
  text-align: center;
  font-size: 14px;
  color: $color-disabled;

  &__link {
    color: $color-text;
    text-decoration: none;
    padding: 5px;
    display: inline-block;

    &:hover {
      color: $color-brand;
      text-decoration: underline;
    }
  }
  &__list {
    margin: 20px auto 5px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    &:not(:last-child) {
      &::after {
        content: '·';
        opacity: 0.3;
      }
    }
  }
  &__logo {
    max-height: 20px;
    margin-right: 20px;
  }
  &__socials {
    display: flex;
    justify-content: center;
  }
}

// Page
.page {
  &__header {
    text-align: center;
    margin: 50px 0 30px 0;
  }
  &__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
  }
  &__title {
    font-weight: 500;
    font-size: 2.5em;
    font-family: $font-secondary;
  }
}

// Sidebar
.sidebar {
  width: 100%;
  position: sticky;
  top: 130px;
  left: 0;
  opacity: 0.5;
  transition: 0.3s all;

  &:hover {
    opacity: 1;
  }
}

// Share
.share {
  padding: 10px;

  &__text {
    color: $color-text;
  }
  &__link {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s all;

    &:hover {
      transform: scale(1.25);
    }
  }
  &__icon {
    width: 24px;
    height: 24px;

    &-facebook { fill: #1877f2; }
    &-twitter { fill: #08a0e9 };
    &-linkedin { fill: #0077b5; }
  }
}

// Post (in home layout)
@include media-query($on-laptop) {
  .home__posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-gap: 60px;
    grid-auto-flow: dense;
    margin-bottom: 30px;
  }
}
.post {
  &__link {
    color: inherit;
    text-decoration: none;
  }
  &__category {
    font-family: $font-secondary;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__details {
    padding: 15px;
    @include media-query($on-laptop) {
      padding: 25px;
    }
  }
  &__title {
    margin: 10px 0 15px 0;
    font-family: $font-secondary;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.25;
  }
  &__meta {
    color: $color-disabled;
    font-size: 14px;
  }
  &__p {
    line-height: 1.5;
  }
  &__imageContainer {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: auto;
  }
  &__image {
    width: 100%;
    height: 100%;
    transition: ease 0.3s;
    vertical-align: middle;

    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}

// Pagination
.pagination {
  text-align: center;
  margin-bottom: 10px;

  &__page {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
    text-decoration: none;

    &-link {
      &:hover {
        background: #f1f1f1;
      }
    }
  }
}

// Socials
.social {
  &__item {
    margin-right: 10px;
  }
  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-text;
    color: $color-text;
    transition: 0.4s all;

    @include media-query($on-laptop) {
      width: 18px;
      height: 18px;
      padding: 3px;
      box-sizing: content-box;
    }
  }
  &__link {
    color: $color-text;
    text-decoration: none;

    &:hover {
      svg {
        transform: scale(1.25);
        fill: $color-brand;
      }
    }
  }
}

// Newsletter form
.newsletter {
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(#000, 0.05);
  border: 1px solid $color-brand;

  @include media-query($on-laptop) {
    padding: 20px;
    margin: 20px 60px;
    display: flex;
  }
  &__icon {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 20px;

    @include media-query($on-laptop) {
      width: 300px;
      margin: 0 30px 0 0;
      padding: 0;
    }
  }
  &__p {
    margin-bottom: 15px;
    line-height: 1.5;
  }
  &__input,
  &__label {
    display: block;
  }
  &__input {
    background: #f8f8f8;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    outline: 0;
    margin: 10px 0;
    width: 100%;
    display: block;
    margin: 8px 0 15px 0;

    &:focus {
      border-color: $color-brand;
      background: rgba($color-brand, 0.08);
    }
  }
  &__group {
    display: flex;
    flex-direction: column-reverse;
    
    @include media-query($on-laptop) {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &__label {
    color: $color-disabled;
    font-size: 14px;

    a {
      color: $color-text;
    }
    span {
      color: red;
    }
  }
  &__checkbox {
    margin-right: 5px;
  }
  &__button {
    background: $color-brand;
    font-size: 16px;
    color: #fff;
    font-family: inherit;
    margin-top: 30px;
    padding: 8px 20px;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 5px 15px #264de42e;
    font-weight: 500;
    cursor: pointer;
    display: block;
    width: 100%;
  }
  &__fields {
    @include media-query($on-laptop) {
      display: flex;
    }
  }
  &__error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
    visibility: hidden;

    &-visible {
      visibility: visible;
    }
  }
}

.newsletter__input:focus + .newsletter__label {
  color: $color-brand;
}

// Landing
.landing { 
  @include media-query($on-laptop) {
    width: 75%;
    margin: 50px auto 0 auto;
    align-items: center;
    padding: 0 40px;
  }

  &__header {
    text-align: center;
    margin: 20px 0;
  }
  &__title {
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0 0 15px 0 !important;
  }
  &__image {
    max-width: 180px;
    height: 180px;

    @include media-query($on-laptop) {
      margin-right: 60px;
    }
  }
  &__content {
    margin-bottom: 0;

    p:last-child {
      margin: 15px 0 0 0;
    }
  }
}