---
layout: default
---
<div class="container article__container">
  <article class="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article__header">
      <time class="article__meta" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.html date=page.date %}
      </time>
      <span class="separator">·</span>
      <a href="#disqus_thread" class="article__authorLink">Przejdź do komentarzy</a>
      <h1 class="article__title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        {%- include author.html author_id=page.author -%}
      </p>
    </header>

    <div class="article__content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
  <div class="article__sidebar">
    {%- include sidebar.html -%}
  </div>
</div>