---
layout: default
---
<div class="container article__container">
  <article class="article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="article__header">
      <time class="article__meta" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% include date.html date=page.date %}
      </time>
      <span class="separator">·</span>
      <a href="#disqus_thread" class="article__authorLink">Przejdź do komentarzy</a>
      <h1 class="article__title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <div class="p-author h-card" itemprop="name">
          <a href="{{ '/o-mnie' | relative_url }}" class="flex flex__center article__authorLink">
            <img src="/assets/ja-1.jpg" class="article__authorImage">
            <span itemprop="name">{{ page.author | default: site.author }}</span>
          </a>
        </div>
      </span>
        <!-- • <a href="{{ page.url | relative_url }}#disqus_thread" class="underline">
            Przejdź do komentarzy
          </a> -->
      </p>
    </header>

    <div class="article__content e-content" itemprop="articleBody">
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
  <div class="article__sidebar">
    {%- include sidebar.html -%}
  </div>
</div>